.PropertyListController {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.property-row {
  width: 100%;
  background-color: #f6f6f6;
  margin: 4px 0px;

}

/* .property-row:last-child {
  border-bottom: none;
} */

.last-col {
  margin-right: auto;
}
.button {
  width: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail {
  margin-right: auto;
}
.property-item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.arrow {
  padding-right: 8px;
}
